{{ $font := "" }}
{{ $path := "fonts/rounded-mgenplus-1c-bold.ttf" }}
{{ with resources.Get $path }}
  {{ with .Err }}
    {{ errorf "%s" . }}
  {{ else }}
    {{ $font = . }}
  {{ end }}
{{ else }}
  {{ errorf "Unable to get resource %q" $path }}
{{ end }}

{{ $opts := dict
  "color" "#000000"
  "font" $font
  "linespacing" 8
  "size" 60
  "x" 50
  "y" 35
}}

{{ $text := .Title | default "n_itsuki's blog" }} 

{{- $maxLen := 16 }}
{{- $len := strings.RuneCount $text -}}
{{- $titleText := "" -}}
{{- range $i := seq 0 (div $len $maxLen) }}
  {{- $line := substr $text (mul $i $maxLen) $maxLen }}
  {{- $titleText = printf "%s%s\n" $titleText $line }}
{{- end -}}

{{ $filter := images.Text $titleText $opts }}

{{ with resources.Get "images/OGP_image.jpg" }}
  {{ with . | images.Filter $filter }}
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:image" content="{{ .RelPermalink }}">
  {{ end }}
{{ end }}


{{- with or .Title site.Title site.Params.title | plainify }}
  <meta name="twitter:title" content="{{ . }}">
{{- end }}

{{- with or .Description .Summary site.Params.description | plainify | htmlUnescape }}
  <meta name="twitter:description" content="{{ trim . "\n\r\t " }}">
{{- end }}

{{- $twitterSite := "" }}
{{- with site.Params.social }}
  {{- if reflect.IsMap . }}
    {{- with .twitter }}
      {{- $content := . }}
      {{- if not (strings.HasPrefix . "@") }}
        {{- $content = printf "@%v" . }}
      {{- end }}
      <meta name="twitter:site" content="{{ $content }}">
    {{- end }}
  {{- end }}
{{- end }}
